<sessionFactoryConfiguration persist="true" namespace="Boot">
  <databases>
    <clear/>
      <add name="myproject"
        theme = "myproject"
        autoPersist="true"
        dbType="SqlCe"
        connectionstring = "Data Source=|DataDirectory|\MyProject.sdf;Persist Security Info=False;"
        domains="localhost|yourdomain.com|www.yourdomain.com"
        properties = "Theme,MyProject" />
        <!--Add more databases here if needed.-->
  </databases>
</sessionFactoryConfiguration>