<a href="/app/register/register.html" class="nav navbar-right">Register</a>
<div ng-controller="logincontroller">
<form >
    <div class="form-group">
        <label class="control-label col-md-2">Email</label>
        <div class="col-md-10">
            <input type="email" ng-model="emailId">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-2">password</label>
        <div class="col-md-10">
            <input type="text" ng-model="password">
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" ng-click="login()" value="Login" class="btn btn-default" />
        </div>
    </div>
</form>
</div>